@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #1D232B;
  --color-primary: #f7d368;
  --color-primary-foreground: #171717;
  --color-secondary: #dd1d21;
  --color-secondary-foreground: #ffffff;
  --color-accent: #f5f5f5;
  --color-accent-soft: #d0d0d0;
  --color-accent-foreground: #171717;
  --color-card: #ffffff;
  --color-card-foreground: #171717;
  --color-muted: #f5f5f5;
  --color-muted-foreground: #6b7280;
  --color-border: #e5e5e5;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
}

/* DARK MODE */
.light {
  --color-background: #ededed;
  --color-foreground: #1D232B;
  --color-primary: #f7d368;
  --color-primary-foreground: #171717;
  --color-secondary: #B82E01;
  --color-secondary-foreground: #ffffff;
  --color-accent: #e2e2e2;
  --color-accent-soft: #f1f1f1;
  --color-accent-foreground: #171717;
  --color-card: #ffffff;
  --color-card-foreground: #171717;
  --color-muted: #f5f5f5;
  --color-muted-foreground: #6b7280;
  --color-border: #e5e5e5;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
}

.dark {
  --color-background: #1D232B;
  --color-foreground: #ededed;
  --color-primary: #D6A100;
  --color-primary-foreground: #0a0a0a;
  --color-secondary: #B82E01;
  --color-secondary-foreground: #ededed;
  --color-accent: #141920;
  --color-accent-soft: #272b30;
  --color-accent-foreground: #ededed;
  --color-card: #141414;
  --color-card-foreground: #ededed;
  --color-muted: #1f1f1f;
  --color-muted-foreground: #a1a1a1;
  --color-border: #262626;
  --color-destructive: #dc2626;
  --color-destructive-foreground: #ededed;
}

/* Global font-family using the Lato variable provided by next/font */
body {
  font-family: var(--font-lato), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* Utility classes to switch fonts where needed */
.font-lato {
  font-family: var(--font-lato), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.font-roboto {
  font-family: var(--font-roboto), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.font-poppins {
  font-family: var(--font-poppins), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}