html,
body {
    background-color: #e0c007;
}


.fulll {
    height: 100%;
}

.bg-header {
    background-image: url('/images/header.png');
}

.bg-news {
    background-image: url('/images/bg_news.png');
}


.bgx {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* padding-top: 20%;  */
    /* padding-top: 28.12%;  */
    /* padding-top: 42.85%;  */
    padding-top: 52%;
    /* padding-top: 56.25%;  */
    /* padding-top: 75%;  */
    /* 16:9 aspect ratio (9 / 16 * 100) */
    position: relative;
    background-color: #212121;


    display: flex;
    /* flex: 1; */
    /* height: 100%; */
    align-items: stretch;
}

.bgx2 {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* padding-top: 20%;  */
    /* padding-top: 28.12%;  */
    /* padding-top: 42.85%;  */
    padding-top: 5%;
    /* padding-top: 56.25%;  */
    /* padding-top: 75%;  */
    /* 16:9 aspect ratio (9 / 16 * 100) */
    position: relative;
    background-color: #212121;


    display: flex;
    /* flex: 1; */
    /* height: 100%; */
    /* align-items: stretch; */
}



.header-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    /* position: relative; */
    /* height: 100%; */
    /* background-color: #e02007; */


    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;

}

.headerRight {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #819df6; */


}

.headerLeft {
    display: flex;
    flex: 1;
    align-items: end;
    flex-direction: row;
    /* background-color: chartreuse; */
}

.bupatiContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* background-color: aquamarine; */
}

.imgBupati {
    width: 38%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.imgBupati_tag {
    width: 42%;
    height: auto;
    z-index: 2;
    margin-left: 10%;
    margin-bottom: -3%;
}

.imgWabup_tag {
    width: 20%;
    height: auto;

    position: absolute;
    /* top: 3%; */
    bottom: 2%;
    right: 5%;

    z-index: 7;

}

.imgBupati_label1 {
    width: 75%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 0;
}

.imgResmi {
    width: 70%;
    height: auto;
}

.bg-profile {
    background-image: url('/images/bg_profile.png');
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profileTop {
    /* background-color: #e0c007; */
    display: flex;
    flex-direction: row;

    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.profileBottom {
    /* background-color: #48e007; */
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 23%;
    /* margin-top: -20%; */

}

.profileLeft {
    /* background-color: #07bce0; */
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
}

.profileMid {
    /* background-color: #3d07e0; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: first baseline;
}

.profileRight {
    /* background-color: #ca07e0; */
    /* display: flex; */
    flex: 1;

}

.profileImgLeft {
    width: 39%;
    height: auto;
    position: absolute;
    left: 8%;
    top: 10%;
}

.profileImgMid {
    padding-top: 10%;
    width: 70%;
    height: auto;
    /* margin-bottom: 100%; */
}

.profileImgRight {
    width: 110%;
    margin-left: -3%;
    height: auto;
    margin-top: 35%;
}

.profileBottomContainOutside {
    display: flex;
    flex: 30%;
    /* background-color: #0ea1c2; */
    border-radius: 20px;
    padding: 1%;
}


.profileBottomContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-right: 25%;
}

.profileBottomContainInsideLeft {
    background-color: #151515;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;


    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


    border-right-style: solid;
    border-right-color: #FEE117;
    border-right-width: 5px;

}

.profileBottomContainInsideRight {
    background-color: #151515;
    width: 60%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    padding-left: 5%;

    /* border-left-style: solid; */



}

.profileImgIcon {
    width: 57px;
}

.profileImgIcon2 {
    width: 45px;
}

.imgProfileIcon3 {
    width: 100%;
    height: auto;
}